*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Caslon Text'
}
.nav-option{
    position: fixed;
    width: 100%;
    height: auto;
    background-color: rgba(255, 251, 253, 0.929);
    display: flex;
    /* background: transparent; */
    /* margin-top: 20px; */
    opacity: 0.90;
    backdrop-filter: blur(5px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
    
}
.menu-icon{
    width: 50%;
    font-size: 5.5rem;
    color: var(--main-color);
    display: none;
}
.hamburger{
    display: none;
    background: none;
    border: none;
    color: rgb(9, 9, 9);
    font-size: 1.8 rem;
    cursor: pointer;

}
.logo{
    padding-left: 50px;
}
.nav{
    /* background-color: aqua; */
    width: 70% ;
    height: auto;
    position: absolute;
    left: 30%;
    margin-top: 20px;
   
}
.nav a{
    padding: 3.5%;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: black;
}   
.nav a:hover{
        color: rgb(211, 59, 140);
    }
.but{
    width: 180px;
    height: 43px;
    margin-left: 980px;
    margin-top: 10px;
    background-color: rgba(252, 115, 147, 1);
    font-weight: bold;
    font-size: 16px;
    color: rgb(255, 255, 255);
    border-radius:14px;
    border-color:rgb(42, 41, 42) ;
    box-shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    transition: 350ms ease;

}
.but:hover{
    background-color: rgb(245, 241, 243);
    color: rgb(211, 59, 140) ;
    border-color: rgba(252, 115, 147, 1);
}
.contact{
    /* margin-top: 50px; */
    width: 100%;
    height: auto;
    text-align: center;
}
.c{
    font-family: 'Lexend Exa', sans-serif;     
    font-weight: bold;
    font-size:48px; 
    position: relative;
    top: 130px;
}
.c2 {
    font-family: 'Notable', sans-serif;  
    font-size:128px;  
    color:rgba(0, 0, 0, 0.29);
}
.content{
    width: 70%;
    text-align: center;
    font-size: 24px;
    margin-top: 60px;
    font-weight: 800;
    margin-left: 250px;
    /* background-color: aqua; */
}
/* .contact-form{
    width: 80%;
    height: 897px;
    background-color:rgba(247, 195, 207, 1) ;
} */

.contact-form {
    border-radius: 14px;
    background-color: #FFE8EE;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    /* margin-top: 50px; */
    justify-content: space-evenly;
    width: 50%;
    /* max-width: 1111px; */
    flex-direction: column;
    align-items: start;
    font-size: 18px;
    font-weight: 500;
    padding: 20px 105px;
    border: 1px solid #F7C3CF;
    margin-left: 390px;
    margin-top: 50px;
    /* padding-top: 60px; */

  }
  .label{
    margin-top: 50px;
  }
  #name{
      font-size: medium;
  }
  #email{
      font-size: medium;
  }
  #massege{
      font-size: medium;
      
    }
  .form-label {
    /* line-height: 2; */
    margin-left: 28px;
  }
  .form-input {
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    width: 546px;
    max-width: 100%;
    line-height: 2;
    padding-left: 20px;
    padding: 8px 18px;
    border-width: 1px;
}
.form-textarea {
    /* padding-top: 80px; */
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 546px;
    /* max-width: 100%; */
    line-height: 2;
    padding-left: 20px;
    margin-top: 20px;
    padding: 18px 28px 147px;
  }
  .submit-button {
    border-radius: 32px;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(255, 255, 255, 0.42);
    width: 205px;
    max-width: 100%;
    font-size: 20px;
    font-weight: 700;
    margin: 40px 0 0 18px;
    padding: 17px 62px;
    border-width: 1px;

  }
  .submit-button:hover{
    background-color: rgb(245, 241, 243);
    color: rgb(149, 12, 85) ;
    border-color: rgba(252, 115, 147, 1);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

}
.end{
    width: 100%;
    height:390px ;
    margin-top: 80px;
    background-color:rgba(255, 186, 202, 1) ;
    text-align: center;

}
.end h4{
    font-size: 25px;
    text-align: center;
    font-weight: 500;
    color:rgb(152, 51, 74) ;
    position: relative;
    top: 40px;
}
.end img{
    margin-top: 80px;
}
.adr{
    display: flex;
    width: 95%;
    text-align: center;
    justify-content: space-evenly;
    /* background-color: aqua; */
    margin: auto;
    padding-left: 20px;
    margin-top: 30px;
    /* margin-left: 150px; */
}
.adr a{
    text-decoration: none;
    font-weight: 700;
    color:rgb(152, 51, 74) ;
    font-size: 20px;
    /* padding-left: 230px; */


}
.icons{
    width: 30%;
    /* background-color: rgb(117, 88, 88); */
    display: flex;
    justify-content: space-evenly;
    margin-left: 530px;
    margin-top: 90px;
}
.icons img{
    width: 50px;
    margin-top: -20px;

}
@media only screen and (max-width: 600px) {
    .nav-option {
       
        height: 59px;
        /* background-color: blueviolet; */
        margin: auto;
        

    }
   
    .hamburger{
        width: 10%;
        height: 40px;
        margin-top: 10px;
        margin-left: -425px;
        background-color: rgb(249, 234, 241);
        border-color:rgba(120, 33, 53, 1); 
        border-radius: 10px;
        display: block;
    }
    
    #material-icons{
        width: 100px;
        height: 150px;
        color: rgb(213, 25, 125);
    }
    .logo{
        margin-left: 90px;
        width: 10%;
        height: 20px;
    }
    .but{
        margin-top: 5px;
        margin-left: 220px;
        font-size: 8px;
        width: 100px;
        height: 30px;
        font-weight:500 ;
        border-width: 1px;
        border-radius: 10px;
        
    }
    .nav {
        display: none;
    }
    .contact{ 
        margin-top: -10px;
        /* background-color: blue; */
    
        }
        .c{
        position: relative;
        top: 105px;
        font-size:25px;
        }   
        .c2{  
            font-size:47px;
            margin-top: 55px;  
        
        }

    .content{
       
            font-size: 14px; 
            margin-left: 80px;
            margin-top: 20px;
            /* background-color: aqua; */
        }

.contact-form {
   
    width: 90%;
    height: auto;
    font-size: 15px;
    font-weight: 500;
    
    margin-left: 25px;
    margin-top: 20px;
    /* padding-top: 60px; */

  }
  .label{
    margin-top: 20px;
  }
  #name{
      font-size: small;
  }
  #email{
      font-size: small;
  }
  #massege{
      font-size: small;
      
    }
  .form-label {
    /* line-height: 2; */
    margin-left: -58px;
    margin-top: 5px;
  }
  .form-input {
    
    margin-left: -70px;
    width: 646px;
    line-height: -2;
    padding: 4px 9px;
   
}
.form-textarea {
    /* padding-top: 80px; */
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 350px;
    /* max-width: 100%; */
    line-height: 2;
    padding-left: 20px;
    margin-left: -68px;
    padding: 4px 9px 100px;
  }
  .submit-button {
    border-radius: 32px;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(255, 255, 255, 0.42);
    width: 150px;
    max-width: 100%;
    font-size: 20px;
    font-weight: 700;
    margin-top: 40px;
    margin-left: -70px;
    padding: 7px 20px;
    border-width: 1px;

  }
 
    .end{
        width: 100%;
        height:200px ;
        margin-top: 30px;
        text-align: center;
        
    
    }
    .end h4{
        font-size: 15px;
        width: 80%;
        /* background-color: aliceblue; */
        margin-left: 50px;
        margin-top: 20px;
    }
    .end img{
        width: 60%;
        margin-top: 50px;
        /* background-color: aliceblue; */
    }
    .adr{
        width: 90%;
        text-align: center;
        /* background-color: aliceblue; */
        margin: auto;
        /* padding-left: 20px; */
        margin-left: 18px;
    }
    .adr a{
        font-size: 10px;
        margin-top:7px;
        /* padding-left: 230px; */
    
    
    }
    
    .icons{
        margin-left: 170px;
        margin-top: -30px;
        /* background-color: aliceblue; */
    }
    .icons img{
        width: 20px;
    
    }


}
